@CHARSET "ISO-8859-1";

.comments{
        margin: 1em 0;           
        background-color: #EEEEEE;
        border: 1px solid lightblue;
}
  
.styled-search {    width:300px;   background: #F8F8F8;    border: 1px solid #DDDDDD;    height: 30px;    border-radius:2px;  } 

.styled-select {    width:50px;    overflow: hidden;    background: #F8F8F8;    border: 1px solid #DDDDDD;    height: 30px;    border-radius:2px;  } 
.styled-select select {   width: 100%;   border: 0;   line-height: 1.5;   -webkit-appearance: none;   -moz-appearance: none;   text-indent: 0.01px;   text-overflow: '';   appearance: none;   background: transparent url("/img/smart_arrows.png") no-repeat scroll 97% 8px;   @media (-webkit-min-device-pixel-ratio: 2),      (min-resolution: 192dpi) {       background: transparent url("/img/smart_arrows@2x.png") no-repeat scroll 97% 8px;       background-size: 16px 144px;     } } 

.result {
        margin-bottom: 1em;
      }

.result .displayLink {
        color: green;
      }
.stucomment {
        padding: 10px;
    margin-right: 0.5em;
    line-height: 12px;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45) inset;
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: #686868;
    background-image: linear-gradient(to bottom, #000000, #000000);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      }
.divul-search{
	color:#D07D00;font-weight: bold;padding-left:10px;
}  
 .divli-search{
	color:black; font-weight: bold; padding-left:10px;
}    

.divborder-search{
	border: 2px solid;border-radius: 10px;margin-right: 0.5em;
}  
      
 .result .name {
        font-size: larger;
      }
.pagination a {
    text-decoration: none;
    padding: 10px;
    margin-right: 0.5em;
    line-height: 32px;
    color: #444;
    text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.25);
    background-color: #F8F8F8;
    background-image: linear-gradient(to bottom, #FFF, #EEE);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.pagination .currentStep {
    padding: 10px;
    margin-right: 0.5em;
    line-height: 32px;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45) inset;
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: #EB8D00;
    background-image: linear-gradient(to bottom, #F90, #CC7A00);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}


/*!
 * Bootstrap v3.0.3 (http://getbootstrap.com)
 * Copyright 2013 Twitter, Inc.
 * Licensed under http://www.apache.org/licenses/LICENSE-2.0
 */
.kicks-header{
	 background-color: #222222;
    border-color: #080808;
}


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.navbar-header:before,
.navbar-header:after {
  display: table;
  content: " ";
}

.navbar-header:after {
  clear: both;
}

.navbar-header:before,
.navbar-header:after {
  display: table;
  content: " ";
}

.navbar-header:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-left: -15px;
  }
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
  color: #777777;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-inverse {
  background-color: #222222;
  border-color: #080808;
}

.navbar-inverse .navbar-brand {
  color: #999999;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
     
 /* spring security Ui plugin css */    
     
     .icon_role {
	background-image: url('${fam.icon(name: 'lock')}');
}
.icon_users {
	background-image: url('${fam.icon(name: 'group')}');
}
.icon_user {
	background-image: url('${fam.icon(name: 'user')}');
}
.icon_error {
	background-image: url('${fam.icon(name: 'exclamation')}');
}
.icon_info {
	background-image: url('${fam.icon(name: 'information')}');
}
.icon, .ui-tabs .ui-tabs-nav li a.icon {
	background-repeat: no-repeat;
	padding-left: 24px;
	background-position: 4px center;
}
 /* spring security Ui plugin css end */ 
 
 

 
 .error-field input,.error-field select,.error-field textarea {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

.error-field input:focus,.error-field select:focus,.error-field textarea:focus {
	-moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	box-shadow: 0 0 0.5em #ffaaaa;
}

 .error-odd{
		
	color: red;
}
  .error-even{
	
	color: green;
}

  .error-even{
	
	color: green;
}


section {
	DISPLAY: block;
}
section {
    padding-top: 60px;
}
section > .row {
    margin-bottom: 10px;
}
.control-group {
    margin-bottom: 20px;
}
.control-group {
    margin-bottom: 10px;}
[class*="span"] {
    float: left;
    margin-left: 20px;
    min-height: 1px;
}
.span12 {
	WIDTH: 940px
}
.span11 {
	WIDTH: 860px
}
.span10 {
	WIDTH: 780px
}
.span9 {
	WIDTH: 700px
}
.span8 {
	WIDTH: 620px
}
.span7 {
	WIDTH: 540px
}
.span6 {
	WIDTH: 460px
}
.span5 {
	WIDTH: 380px
}
.span4 {
	WIDTH: 300px
}
.span3 {
	WIDTH: 220px
}
.span2 {
	WIDTH: 140px
}
.span1 {
	WIDTH: 60px
}

[class*='span'].pull-right {
	FLOAT: right
}
.row-fluid [class*='span'].pull-right {
	FLOAT: right
}
.container {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.container:before {
	LINE-HEIGHT: 0; DISPLAY: table; CONTENT: ""
}
.container:after {
	LINE-HEIGHT: 0; DISPLAY: table; CONTENT: ""
}
.container:after {
	CLEAR: both
}
.container-fluid {
	PADDING-LEFT: 20px; PADDING-RIGHT: 20px
}
.container-fluid:before {
	LINE-HEIGHT: 0; DISPLAY: table; CONTENT: ""
}
.container-fluid:after {
	LINE-HEIGHT: 0; DISPLAY: table; CONTENT: ""
}
.container-fluid:after {
	CLEAR: both
}
INPUT {
	MARGIN-LEFT: 0px
}
TEXTAREA {
	MARGIN-LEFT: 0px
}
.uneditable-input {
	MARGIN-LEFT: 0px
}
.controls-row [class*='span'] + [class*='span'] {
	MARGIN-LEFT: 20px
}
INPUT.span12 {
	WIDTH: 926px
}
TEXTAREA.span12 {
	WIDTH: 926px
}
.span12.uneditable-input {
	WIDTH: 926px
}
INPUT.span11 {
	WIDTH: 846px
}
TEXTAREA.span11 {
	WIDTH: 846px
}
.span11.uneditable-input {
	WIDTH: 846px
}
INPUT.span10 {
	WIDTH: 766px
}
TEXTAREA.span10 {
	WIDTH: 766px
}
.span10.uneditable-input {
	WIDTH: 766px
}
INPUT.span9 {
	WIDTH: 686px
}
TEXTAREA.span9 {
	WIDTH: 686px
}
.span9.uneditable-input {
	WIDTH: 686px
}
INPUT.span8 {
	WIDTH: 606px
}
TEXTAREA.span8 {
	WIDTH: 606px
}
.span8.uneditable-input {
	WIDTH: 606px
}
INPUT.span7 {
	WIDTH: 526px
}
TEXTAREA.span7 {
	WIDTH: 526px
}
.span7.uneditable-input {
	WIDTH: 526px
}
INPUT.span6 {
	WIDTH: 446px
}
TEXTAREA.span6 {
	WIDTH: 446px
}
.span6.uneditable-input {
	WIDTH: 446px
}
INPUT.span5 {
	WIDTH: 366px
}
TEXTAREA.span5 {
	WIDTH: 366px
}
.span5.uneditable-input {
	WIDTH: 366px
}
INPUT.span4 {
	WIDTH: 286px
}
TEXTAREA.span4 {
	WIDTH: 286px
}
.span4.uneditable-input {
	WIDTH: 286px
}
INPUT.span3 {
	WIDTH: 206px
}
TEXTAREA.span3 {
	WIDTH: 206px
}
.span3.uneditable-input {
	WIDTH: 206px
}
INPUT.span2 {
	WIDTH: 126px
}
TEXTAREA.span2 {
	WIDTH: 126px
}
.span2.uneditable-input {
	WIDTH: 126px
}
INPUT.span1 {
	WIDTH: 46px
}
TEXTAREA.span1 {
	WIDTH: 46px
}
.span1.uneditable-input {
	WIDTH: 46px
}

.controls > .radio:first-child {
	PADDING-TOP: 5px
}
.controls > .checkbox:first-child {
	PADDING-TOP: 5px
}
.controls-row [class*='span'] + [class*='span'] {
	MARGIN-LEFT: 20px
}
.controls-row {
	
}
.controls-row:before {
	LINE-HEIGHT: 0; DISPLAY: table; CONTENT: ""
}
.controls-row:after {
	LINE-HEIGHT: 0; DISPLAY: table; CONTENT: ""
}
.controls-row:after {
	CLEAR: both
}
.controls-row [class*='span'] {
	FLOAT: left
}
.form-horizontal .controls {
	MARGIN-LEFT: 180px
}
.form-horizontal .controls:first-child {
	
}
.control-group {
	MARGIN-BOTTOM: 10px
}
LEGEND + .control-group {
	MARGIN-TOP: 20px; -webkit-margin-top-collapse: separate
}
.form-horizontal .control-group {
	MARGIN-BOTTOM: 20px
}
.form-horizontal .control-group:before {
	LINE-HEIGHT: 0; DISPLAY: table; CONTENT: ""
}
.form-horizontal .control-group:after {
	LINE-HEIGHT: 0; DISPLAY: table; CONTENT: ""
}
.form-horizontal .control-group:after {
	CLEAR: both
}
.form-horizontal .control-label {
	TEXT-ALIGN: right; WIDTH: 160px; FLOAT: left; PADDING-TOP: 5px
}
.form-horizontal .controls {
	MARGIN-LEFT: 180px
}
.form-horizontal .controls:first-child {
	
}
.form-horizontal .help-block {
	MARGIN-BOTTOM: 0px
}
.form-horizontal INPUT + .help-block {
	MARGIN-TOP: 10px
}
.form-horizontal SELECT + .help-block {
	MARGIN-TOP: 10px
}
.form-horizontal TEXTAREA + .help-block {
	MARGIN-TOP: 10px
}
.form-horizontal .form-actions {
	PADDING-LEFT: 180px
}


.platformf{

	 padding: 10px;
    margin-right: 0.5em;
    line-height: 12px;
    border-radius: 5px;
    font-weight: 600;
     font-size: 16px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45) inset;
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: #EB8D00;
    background-image: linear-gradient(to bottom, #F90, #CC7A00);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}


	.col-sw-1{
	font-family: 'Open Sans';  
	font-size:15px;  
  }
  .col-sw-2{
	font-family: 'Open Sans';  
	font-size:18px;  
  }
  .margin1{
  margin-left: 7px;
  }
  .widget {
	width: auto; clear: both; margin-bottom: 2em; position: relative;
}
.widget .widget-header {
	background: rgb(233, 233, 233); border: 1px solid rgb(213, 213, 213); height: 40px; line-height: 40px; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9'); position: relative; border-top-left-radius: 4px; border-top-right-radius: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topright: 4px; -webkit-background-clip: padding-box;
}
.widget .widget-header h3 {
	left: 10px; top: 2px; color: rgb(85, 85, 85); line-height: 18px; font-size: 14px; font-weight: 600; margin-right: 3em; display: inline-block; position: relative; text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
.widget .widget-header [class^='icon-'] {
	color: rgb(85, 85, 85); font-size: 16px; margin-right: -2px; margin-left: 13px; vertical-align: middle; display: inline-block;
}
.widget .widget-header [class*=' icon-'] {
	color: rgb(85, 85, 85); font-size: 16px; margin-right: -2px; margin-left: 13px; vertical-align: middle; display: inline-block;
}
.widget .widget-content {
	background: rgb(255, 255, 255); padding: 20px 15px 15px; border-radius: 5px; border: 1px solid rgb(213, 213, 213); -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.widget .widget-header + .widget-content {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none; border-top-left-radius: 0px; border-top-right-radius: 0px; -webkit-border-top-left-radius: 0; -moz-border-radius-topleft: 0; -webkit-border-top-right-radius: 0; -moz-border-radius-topright: 0;
}
.widget-nopad.widget .widget-content {
	padding: 0px;
}
.widget .widget-content {
	
}
.widget .widget-content::before {
	line-height: 0; display: table; content: "";
}
.widget .widget-content::after {
	line-height: 0; display: table; content: "";
}
.widget .widget-content::after {
	clear: both;
}
.widget-table.widget .widget-content {
	padding: 0px;
}
.widget-table.widget .table {
	border: currentColor; margin-bottom: 0px;
}
.widget-table.widget .table tr td:first-child {
	border-left-color: currentColor; border-left-width: medium; border-left-style: none;
}
.widget-table.widget .table tr th:first-child {
	border-left-color: currentColor; border-left-width: medium; border-left-style: none;
}
.widget-plain.widget {
	border: currentColor;
}
.widget-plain.widget .widget-content {
	padding: 0px; border: currentColor;
}
.widget-box.widget .widget-content {
	background: rgb(255, 255, 255);
}
.row {
	margin-left: -20px;
}
.row::before {
	line-height: 0; display: table; content: "";
}
.row::after {
	line-height: 0; display: table; content: "";
}
.row::after {
	clear: both;
}
.stacked {
	position: relative;
}
.stacked::after {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(211, 211, 211) rgb(211, 211, 211); border-radius: 0px 0px 3px 3px; left: 3px; height: 1px; right: 3px; bottom: -2px; display: block; position: absolute; content: ""; background-color: rgb(255, 255, 255); -webkit-border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px;
}
.stacked::before {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(211, 211, 211) rgb(211, 211, 211); border-radius: 0px 0px 3px 3px; left: 3px; height: 1px; right: 3px; bottom: -2px; display: block; position: absolute; content: ""; background-color: rgb(255, 255, 255); -webkit-border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px;
}
.stacked::before {
	left: 6px; right: 6px; bottom: -4px;
}
  .col-sw-3{
	font-weight:bold;color:#2A6496;font-size:18px;font-family: 'Open Sans';  
  }
  
  .col-sw-4{
	width:20%;
  } 
  
  
  
